<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<script src="https://unpkg.com/vue"></script>
	<title>Killer Monster</title>
</head>
<body>
	<div id="app">
		<div class="panel scores">
			<div class="score">
				<h1>You</h1>
				<div class="life-bar">
					<div class="life"
						:class="{danger: playerLife < 20}"
						:style="{width: playerLife + '%'}">
					</div>
				</div>
				<div>{{ playerLife }}%</div>
			</div>
			<div class="score">
				<h1>Monster</h1>
				<div class="life-bar">
					<div class="life"
						:class="{danger: monsterLife < 20}"
						:style="{width: monsterLife + '%'}">
					</div>
				</div>
				<div>{{ monsterLife }}%</div>
			</div>
		</div>
		<div v-if="hasResult"class="panel result">
			<div v-if="monsterLife == 0" class="win">You won! :]</div>
			<div v-else class="lose">You lost! :[</div>
		</div>
		<div class="panel buttons">
			<template v-if="running">
				<button @click="attack(false)"
						class="btn attack">
						Attack
				</button>

				<button @click="attack(true)"
						class="btn special-attack">
						Special Attack
				</button>

				<button @click="healAndHurt"
						class="btn heal">
						Heal
				</button>

				<button @click="running = false"
						class="btn give-up">
						Surrender
				</button>
			</template>
			<button v-else
					@click="startGame"
					class="btn new-game">
					Start
			</button>
		</div>
		<div v-if="logs.length"
			class="panel logs">
			<ul>
				<li v-for="log in logs"
					:class="log.cls"
					class="log">
					{{ log.text }}
				</li>
			</ul>
		</div>
	</div>

	<script src="app.js"></script>
</body>
</html>
