/* general */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
	font-size: 10px;
	--color-shadow: rgba(0, 0, 0, 0.15);
	--color-green: #2AB40E;
	--color-win: #22a308;
	--color-red: #dd4019;
	--color-lose: #b1350f;
	--color-white: #ffffff;
	--color-start: #123456;
	--color-attack: #561a12;
	--color-special-attack: #564412;
	--color-heal: #185612;
	--color-surrender: #1c1256;
}

html {
	font-family: 'Montserrat', sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
}

.panel {
	margin: 1rem;
	padding: 2rem;
	box-shadow: 0 2px 10px var(--color-shadow);
	border-radius: 8px;
}

/* points area */

.scores {
	display: flex;
}

.score {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
}

.score h1 {
	font-weight: 600;
	font-size: 2.8rem;
}

.life-bar {
	width: 80%;
	height: 3rem;
	border: 1px solid #AAA;
}

.life-bar .life {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: var(--color-green);
}

.life-bar .life.danger {
	background-color: var(--color-red);
}

/* result area */

.result {
	display: flex;
	justify-content: center;
	font-size: 2.4rem;
	font-weight: 600;
}

.result .win {
	color: var(--color-win);
}

.result .lose {
	color: var(--color-lose);
}

/* buttons area (game control) */

.buttons {
	display: flex;
	justify-content: center;
}

.btn {
	padding: 1rem 2rem;
	margin: 0 1rem;
	border-radius: .4rem;
	font-size: 1.8rem;
	border: none;
	cursor: pointer;
	transition: background-color .5s;
	color: var(--color-white);
}

.new-game {
	background-color: var(--color-start);
}

.attack {
	background-color: var(--color-attack);
}

.special-attack {
	background-color: var(--color-special-attack);
}

.heal {
	background-color: var(--color-heal);
}

.give-up {
	background-color: var(--color-surrender);
}

.btn.new-game:hover {
	background-color: #0d4d8d;
}

.btn.attack:hover {
	background-color: #a00f0f;
}

.btn.special-attack:hover {
	background-color: #9b5f11;
}

.btn.heal:hover {
	background-color: #0d8d18;
}

.btn.give-up:hover {
	background-color: #5e0d8d;
}

/* logs area */

.logs ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}

.logs ul li {
	display: flex;
	justify-content: center;
	margin: .4rem 0;
	padding: .3rem 0;
	font-weight: 600;
	font-size: 1.8rem;
	border-radius: .4rem;
}

.player {
	background-color: #4253afaa;
	color: var(--color-white);
}

.monster {
	background-color: #e51c23aa;
	color: var(--color-white);
}
